In [11]:
import pandas as pd

chall_data = pd.read_csv("/Users/nehamansinghka/Documents/McKinsey Hackathon/train_mddNHeX/challenge_data.csv")
user_data = pd.read_csv("/Users/nehamansinghka/Documents/McKinsey Hackathon/train_mddNHeX/train.csv")

In [12]:
chall_data.head()

,challenge_ID,programming_language,challenge_series_ID,total_submissions,publish_date,author_ID,author_gender,author_org_ID,category_id
0,CI23478,2,SI2445,37.0,06-05-2006,AI563576,M,AOI100001,NaN
1,CI23479,2,SI2435,48.0,17-10-2002,AI563577,M,AOI100002,32.0
2,CI23480,1,SI2435,15.0,16-10-2002,AI563578,M,AOI100003,NaN
3,CI23481,1,SI2710,236.0,19-09-2003,AI563579,M,AOI100004,70.0
4,CI23482,2,SI2440,137.0,21-03-2002,AI563580,M,AOI100005,NaN

In [13]:
user_data.head()

  user_sequence  user_id  challenge_sequence challenge
0        4576_1     4576                   1   CI23714
1        4576_2     4576                   2   CI23855
2        4576_3     4576                   3   CI24917
3        4576_4     4576                   4   CI23663
4        4576_5     4576                   5   CI23933

In [14]:
user_data = user_data.rename(index = str, columns={'challenge':'challenge_ID'})

In [15]:
user_data.head()

  user_sequence  user_id  challenge_sequence challenge_ID
0        4576_1     4576                   1      CI23714
1        4576_2     4576                   2      CI23855
2        4576_3     4576                   3      CI24917
3        4576_4     4576                   4      CI23663
4        4576_5     4576                   5      CI23933

In [6]:
joined_df = user_data.merge(chall_data, left_on='challenge_ID', right_on='challenge_ID', how='outer')

In [7]:
joined_df.shape

(904174, 12)

In [8]:
joined_df.head(20)

,user_sequence,user_id,challenge_sequence,challenge_ID,programming_language,challenge_series_ID,total_submissions,publish_date,author_ID,author_gender,author_org_ID,category_id
0,4576_1,4576.0,1.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
1,4580_6,4580.0,6.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
2,4582_8,4582.0,8.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
3,4585_6,4585.0,6.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
4,4590_6,4590.0,6.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
5,4591_5,4591.0,5.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
6,4592_5,4592.0,5.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
7,4604_1,4604.0,1.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
8,4606_1,4606.0,1.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
9,4609_1,4609.0,1.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
10,4612_5,4612.0,5.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
11,4616_6,4616.0,6.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
12,4617_9,4617.0,9.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
13,4618_5,4618.0,5.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
14,4625_1,4625.0,1.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
15,4626_1,4626.0,1.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
16,4629_10,4629.0,10.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
17,4632_4,4632.0,4.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
18,4639_6,4639.0,6.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0
19,4641_1,4641.0,1.0,CI23714,1,SI2477,14723.0,12-06-2006,AI563766,M,AOI100129,29.0

In [11]:
user_id_null_df = joined_df[joined_df['user_id'].isnull()]

In [12]:
user_id_null_df.head(20)

,user_sequence,user_id,challenge_sequence,challenge_ID,programming_language,challenge_series_ID,total_submissions,publish_date,author_ID,author_gender,author_org_ID,category_id
903916,NaN,NaN,NaN,CI23487,1,SI2435,28.0,14-10-2002,AI563585,M,AOI100010,141.0
903917,NaN,NaN,NaN,CI23556,2,SI2447,114.0,11-10-2003,AI563648,M,AOI100061,NaN
903918,NaN,NaN,NaN,CI23566,2,SI2447,105.0,19-11-2002,AI563656,M,AOI100019,NaN
903919,NaN,NaN,NaN,CI23579,1,SI2447,45.0,17-12-2003,AI563664,F,AOI100072,39.0
903920,NaN,NaN,NaN,CI23580,2,SI2447,54.0,02-03-2004,AI563665,M,AOI100011,NaN
903921,NaN,NaN,NaN,CI23584,2,SI2447,43.0,06-04-2004,AI563669,M,AOI100075,NaN
903922,NaN,NaN,NaN,CI23589,2,SI2447,59.0,12-12-2000,AI563674,M,AOI100019,NaN
903923,NaN,NaN,NaN,CI23596,2,SI2447,17.0,13-05-2003,AI563576,M,AOI100001,NaN
903924,NaN,NaN,NaN,CI23603,2,SI2447,89.0,25-02-2003,AI563684,M,AOI100011,NaN
903925,NaN,NaN,NaN,CI23621,1,SI2478,104.0,01-05-2006,AI563695,M,AOI100090,87.0
903926,NaN,NaN,NaN,CI23671,1,SI2475,37.0,07-07-2005,AI563736,M,AOI100116,NaN
903927,NaN,NaN,NaN,CI23794,1,SI2461,26.0,22-01-2005,AI563826,M,AOI100179,NaN
903928,NaN,NaN,NaN,CI23917,1,SI2453,74.0,09-08-2005,AI563781,M,AOI100147,29.0
903929,NaN,NaN,NaN,CI24082,1,SI2474,20.0,07-10-2005,AI563822,M,AOI100174,NaN
903930,NaN,NaN,NaN,CI24087,1,SI2476,207.0,17-06-2006,AI564027,M,AOI100222,46.0
903931,NaN,NaN,NaN,CI24098,1,SI2460,32.0,21-02-2002,AI564034,M,AOI100086,29.0
903932,NaN,NaN,NaN,CI24132,1,SI2474,25.0,07-10-2005,AI563822,M,AOI100174,NaN
903933,NaN,NaN,NaN,CI24178,1,SI2467,31.0,08-07-2006,AI564084,M,AOI100138,NaN
903934,NaN,NaN,NaN,CI24232,1,SI2478,52.0,03-05-2006,AI564119,M,AOI100329,NaN
903935,NaN,NaN,NaN,CI24285,1,SI2491,13.0,01-06-2004,AI564151,M,AOI100344,NaN

In [13]:
user_id_null_df.shape

(258, 12)

In [14]:
#Removing challenges not attempted by any user
joined_df = joined_df[~joined_df['user_id'].isnull()]

In [15]:
joined_df.shape

(903916, 12)

In [16]:
train_df = joined_df[['user_id', 'challenge_ID']]

In [32]:
train_df.shape

(903916, 3)

In [30]:
train_df.head(10)

  user_id challenge_ID  Done
0    4576      CI23714     1
1    4580      CI23714     1
2    4582      CI23714     1
3    4585      CI23714     1
4    4590      CI23714     1
5    4591      CI23714     1
6    4592      CI23714     1
7    4604      CI23714     1
8    4606      CI23714     1
9    4609      CI23714     1

In [31]:
train_df.dtypes

user_id         object
challenge_ID    object
Done             int64
dtype: object

In [23]:
train_df['user_id'].astype(str)

0           4576
1           4580
2           4582
3           4585
4           4590
5           4591
6           4592
7           4604
8           4606
9           4609
10          4612
11          4616
12          4617
13          4618
14          4625
15          4626
16          4629
17          4632
18          4639
19          4641
20          4644
21          4646
22          4652
23          4662
24          4670
25          4680
26          4681
27          4687
28          4688
29          4691
           ...
903886    110258
903887    110285
903888    110532
903889    110532
903890    110535
903891    110615
903892    111173
903893    111595
903894    112067
903895    112873
903896    112894
903897    112930
903898    113134
903899    113134
903900    113134
903901    113207
903902    113223
903903    113223
903904    113333
903905    113334
903906    113386
903907    113334
903908    113386
903909    113334
903910    113334
903911    113338
903912    113386
903913    113387
903914    113446
903915    113466
Name: user_id, Length: 903916, dtype: object

In [29]:
train_df.insert('Done', 1)

ValueError: cannot insert Done, already exists

In [33]:
import graphlab

ImportError: No module named 'graphlab'

In [6]:
new_df = user_data.pivot('user_id','challenge_ID')['challenge_sequence']

In [7]:
new_df.shape

(69532, 5348)

In [8]:
new_df.head(10)

challenge_ID,CI23478,CI23479,CI23480,CI23481,CI23482,CI23483,CI23484,CI23485,CI23486,CI23488,...,CI29073,CI29074,CI29075,CI29076,CI29078,CI29079,CI29080,CI29081,CI29082,CI29083
user_id,,,,,,,,,,,,,,,,,,,,,
4576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
new_df.fillna(0)

challenge_ID,CI23478,CI23479,CI23480,CI23481,CI23482,CI23483,CI23484,CI23485,CI23486,CI23488,...,CI29073,CI29074,CI29075,CI29076,CI29078,CI29079,CI29080,CI29081,CI29082,CI29083
user_id,,,,,,,,,,,,,,,,,,,,,
4576,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4580,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4591,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4592,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4596,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4602,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4604,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4611,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4612,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4615,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4616,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4617,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4618,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4619,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4622,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4624,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4626,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4629,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4630,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4631,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4632,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113793,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113800,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113805,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113807,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113808,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113810,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113812,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113813,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113815,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113816,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113817,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113818,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113819,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113824,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113827,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113832,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113833,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113835,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113836,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113837,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113839,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

challenge_ID,CI23478,CI23479,CI23480,CI23481,CI23482,CI23483,CI23484,CI23485,CI23486,CI23488,...,CI29073,CI29074,CI29075,CI29076,CI29078,CI29079,CI29080,CI29081,CI29082,CI29083
user_id,,,,,,,,,,,,,,,,,,,,,
26451,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51751,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63658,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67869,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84316,NaN,NaN,NaN,NaN,11.0,1.0,NaN,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85874,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90009,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94425,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
from surprise import SVD

In [17]:
from surprise import NormalPredictor
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate

In [18]:
new_df = user_data[['user_id', 'challenge_ID']]

In [22]:
new_df.head(10)

   user_id  rating challenge_ID
0     4576       1      CI23714
1     4576       1      CI23855
2     4576       1      CI24917
3     4576       1      CI23663
4     4576       1      CI23933
5     4576       1      CI25135
6     4576       1      CI23975
7     4576       1      CI25126
8     4576       1      CI24915
9     4576       1      CI24957

In [20]:
new_df.shape

(903916, 2)

In [21]:
new_df.insert(1,'rating',1)

In [23]:
new_df = new_df.rename(index = str, columns={'user_id':'userID', 'challenge_ID':'itemID'})

In [24]:
reader = Reader(rating_scale=(0, 1))

In [25]:
data = Dataset.load_from_df(new_df[['userID', 'itemID', 'rating']], reader)

In [26]:
algo = SVD()

In [29]:
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.0099  0.0098  0.0099  0.0099  0.0100  0.0099  0.0001
RMSE (testset)    0.0260  0.0257  0.0260  0.0259  0.0264  0.0260  0.0002
Fit time          77.95   78.18   77.25   76.92   76.14   77.29   0.73
Test time         2.29    2.11    1.94    1.96    1.89    2.04    0.15

{'fit_time': (77.9463369846344,
  78.18368196487427,
  77.2513279914856,
  76.91736197471619,
  76.14364004135132),
 'test_mae': array([0.00989368, 0.00976993, 0.00986588, 0.00987762, 0.01003368]),
 'test_rmse': array([0.02604418, 0.02569658, 0.02603033, 0.0258992 , 0.02641461]),
 'test_time': (2.2905797958374023,
  2.105975866317749,
  1.9447009563446045,
  1.9621961116790771,
  1.8863489627838135)}

In [27]:
from surprise.model_selection import train_test_split
from surprise import accuracy
trainset, testset = train_test_split(data, test_size=.25)

In [34]:
algo = SVD()

# Train the algorithm on the trainset, and predict ratings for the testset
algo.fit(trainset)
predictions = algo.test(testset)

# Then compute RMSE
accuracy.rmse(predictions)

RMSE: 0.0267

0.02669474133836238

In [28]:
from surprise import KNNBasic
algo = KNNBasic()

In [29]:
sim_options = {'name': 'cosine',
               'user_based': True  # compute  similarities between users
               }
algo = KNNBasic(sim_options=sim_options)